<div class="jumbotron" ng-controller="loginCtrl">
    <form action="/" id="myLogin">
        <input type=" text" id="username" ng-model="username">
        <br>
        <input type=" text" id="password" ng-model="password">
        <br>
        <button type=" button " ng-click="submit()">Login</button>
    </form>
</div>